body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: #f5f5f5;
}

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: white;
  padding: 14px 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.2);
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: blue;
  text-decoration: underline;
}

.navbar .menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.navbar .menu-items {
  display: flex;
  flex-wrap: nowrap;
}

/* Intro Section */
#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  position: relative;
  color: white;
  z-index: 1;
  padding-top: 80px; /* Adjust for fixed navbar */
}

#particles-js {
  position: absolute; /* Or 'fixed' if you want it to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensures it stays in the background */
}

#intro h1 {
  font-size: 3em;
  color: #2c3e50;
  margin: 0;
}

#intro p {
  font-size: 1.5em;
  color: #333;
}

.typing {
  color: orange;
}

.button {
  margin-top: 20px; /* Adjust the value as needed */
}

.social-icons a {
  margin: 0 10px;
  color: #333;
  font-size: 1.5em;
  text-decoration: none;
}

.social-icons a:hover {
  color: blue;
}

.button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button img {
  width: 20px;
  margin-left: 10px;
}

.button:hover {
  background-color: darkblue;
}

/* About Me Section */
#aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f9f9f9;
  font-size: 18px; /* Adjust font size as needed */
  position: relative;
}

.profile-pic img {
  width: 200px; /* Adjust based on preference */
  height: auto;
  border-radius: 50%; /* Circular image */
  margin-right: 20px;
}

.about-info {
  max-width: 65%;
}

.about-info h1,
.about-info h2 {
  color: #333;
}

.about-info p {
  line-height: 1.6;
}

/* Resume Button Styling */
.resume-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.resume-button img {
  width: 20px;
  margin-left: 10px;
}

.resume-button:hover {
  background-color: #0056b3;
}

/* Skills Section */
.skills-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  gap: 10px;
  overflow-y: auto;
  align-items: center;
  position: relative;
}

#skills {
  padding-top: 100px;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  background-color: #f9f9f9;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#skills h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.skill {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.skill img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.skill h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

/* Experience Section */
#experience {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

#experience h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #007bff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #007bff;
  border: 4px solid #ff8c00;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: -7.1%;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #007bff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #007bff;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #007bff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #007bff transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: #ff8c00;
  position: relative;
  border-radius: 6px;
}

.content h2 {
  font-size: 24px;
  font-weight: bold;
}

.content h3 {
  font-size: 18px;
  font-weight: normal;
}

.content p {
  margin: 10px 0;
  font-size: 16px;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content ul li {
  text-align: left;
  margin-bottom: 5px;
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
  .navbar .menu-items {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar .menu-icon {
    display: block;
  }

  .navbar .menu-items.active {
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.2);
    flex-direction: column;
  }

  .navbar .menu-items.active a {
    float: none;
    text-align: left;
    padding: 14px 16px;
    width: 100%;
  }

  #intro h1 {
    font-size: 2em;
  }

  #intro p {
    font-size: 1.2em;
  }

  .profile-pic img {
    width: 150px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .about-info {
    max-width: 90%;
  }

  .skills-container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 5px;
  }

  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 25px;
  }

  .container::before,
  .container::after {
    left: 60px;
  }

  .left::before,
  .right::before {
    border: medium solid #007bff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #007bff transparent transparent;
    right: auto;
    left: 30px;
  }

  .right {
    left: 0%;
  }
}

@media screen and (max-width: 480px) {
  .skills-container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .button {
    padding: 8px 16px;
    font-size: 0.9em;
  }

  .navbar a {
    padding: 10px 12px;
    font-size: 15px;
  }

  .navbar .menu-items.active {
    top: 50px;
  }

  .container {
    padding-left: 60px;
  }

  .container::before,
  .container::after {
    left: 30px;
  }

  .left::before,
  .right::before {
    left: 15px;
  }
}

/* styles.css */

#projects {
  max-width: 1200px;
  margin: auto;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.project {
  flex: 0 1 calc(50% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-details {
  padding: 20px;
}

.project-details h3 {
  margin: 0 0 10px;
}

.project-details p {
  margin: 0 0 10px;
}

.button {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.skills h4 {
  margin: 0 0 5px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills li {
  margin-bottom: 5px;
}

/* styles.css */
#dontact {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}
.container_contact {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #4a4a4a;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contact-image img {
  max-width: 100%;
  border-radius: 10px;
}

form {
  flex: 1;
  margin-left: 20px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  resize: vertical;
  height: 100px;
}

input::placeholder,
textarea::placeholder {
  color: #bbb;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

input[type="text"]::before,
input[type="email"]::before,
input[type="phone"]::before,
textarea::before {
  content: attr(data-icon);
  position: absolute;
  left: 10px;
  top: 10px;
  font-family: FontAwesome;
  color: #007bff;
  pointer-events: none;
}
