{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Priyanshu Katiyar</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <a href="#intro" style="font-weight: bold">Priyanshu Katiyar</a>
      <div class="menu-items">
        <a href="#aboutme">About</a>
        <a href="#skills">Skills</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
      </div>
      <div class="menu-icon">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <div id="particles-js"></div>
    <div id="intro">
      <h1>Hi There, I'm Priyanshu Katiyar</h1>
      <p>I Am Into <span class="typing">Python-Java Development</span></p>
      <div class="social-icons">
        <a
          href="https://www.linkedin.com/in/priyanshukatiyar/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a
          href="https://github.com/priyanshukatiyar14"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://www.instagram.com/_priyanshu_katiyar_/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          href="mailto:priyanshukatiyar111@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fas fa-envelope"></i
        ></a>
      </div>
      <a href="#aboutme" class="button"
        >About Me <img src="{% static 'images/down.png' %}" alt="arrow-down"
      /></a>
    </div>
    <section id="aboutme">
      <div class="profile-pic">
        <img src="{% static 'images/bitmoji.jpg' %}" alt="Profile Picture" />
      </div>
      <div class="about-info">
        <h1>I'm Priyanshu Katiyar</h1>
        <h2>{{about_me.intro}}</h2>
        <p>{{about_me.description}}</p>
        <span class="user-info">
          <span class="info">
            <div class="chip">
              <strong>Age: </strong>
              {{about_me.age}}
            </div>
            <div class="chip">
              <strong>Email: </strong>
              {{about_me.email}}
            </div>
          </span>
          <span class="info">
            <div class="chip">
              <strong>Phone: </strong>
              {{about_me.phone}}
            </div>
            <div class="chip">
              <strong>Place: </strong>
              {{about_me.address}}
            </div>
          </span>
        </span>
        <a
          href="{{about_me.resume_link}}"
          class="resume-button"
          target="arrow-right"
          >Resume
          <img src="{% static 'images/to-right.png' %}" alt="arrow-down"
        /></a>
      </div>
    </section>
    <section id="skills">
      <h2>Skills</h2>
      <div class="skills-container">
        {% for skill in skills %}
        <div class="skill">
          <img src="{{skill.link}}" alt="{{skill.name}}" />
          <h3>{{skill.name}}</h3>
        </div>
        {% endfor %}
      </div>
    </section>
    <section id="experience">
      <h1>Experience</h1>
      <div class="timeline">
        {% for experience in experiences %}
        <div class="container {% cycle 'left' 'right' %}">
          <div class="content">
            <h2>{{ experience.title }}</h2>
            <h3>{{ experience.company }}, {{ experience.location }}</h3>
            <p>{{ experience.start_date }} - {{ experience.end_date }}</p>
            <ul>
              {% for item in experience.description %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <section id="projects" class="projects-section">
      <h1>My Projects</h1>
      <div class="projects-container">
        {% for project in projects %}
        <div class="project" data-url="{{ project.live_project_url }}">
          <img
            src="{{ project.image }}"
            alt="{{ project.title }}"
            class="project-image"
          />
          <div class="project-content">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <div class="skills">
              <h4>Skills:</h4>
              {{ project.skills }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <section id="contact">
      <div class="container_contact">
        <h1>Get In Touch</h1>
        <div class="contact-form">
          <div class="contact-image">
            <img src="{% static 'images/contact.png' %}" alt="Contact Image" />
          </div>
          <form action="{% url 'contact_submit' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="name" placeholder="Name" required />
            </div>
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="form-group">
              <input type="text" name="phone" placeholder="Phone" required />
            </div>
            <div class="form-group">
              <textarea
                name="message"
                placeholder="Message"
                required
              ></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="submit-btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
      particlesJS.load(
        "particles-js",
        '{% static "particles.json" %}',
        function () {
          console.log("particles.js loaded - callback");
        }
      );
    </script>
    <script src="{% static 'js/scrolling.js' %}"></script>
    <script src="{% static 'js/typing.js' %}"></script>
    <script src="{% static 'js/projects.js' %}"></script>
  </body>
  <footer>
    <div class="footer-container">
      <div class="footer-section">
        <h3>Priyanshu's Portfolio</h3>
        <p>
          Thank you for visiting my personal portfolio website. Connect with me
          over socials.
        </p>
      </div>
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#intro">Home</a></li>
          <li><a href="#aboutme">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Contact Info</h3>
        <ul>
          <li><a href="tel:+916387139727">+91 6387139727</a></li>
          <li>
            <a href="mailto:priyanshukatiyar111@gmail.com"
              >priyanshukatiyar111@gmail.com</a
            >
          </li>
          <li>Farrukhabad, India-209601</li>
        </ul>
        <div class="social-icons">
          <a
            href="https://www.linkedin.com/in/priyanshukatiyar/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/priyanshukatiyar14"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-github"></i
          ></a>
          <a
            href="https://www.instagram.com/_priyanshu_katiyar_/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            href="mailto:priyanshukatiyar111@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fas fa-envelope"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Designed With <span class="heart">❤</span> By Priyanshu Katiyar</p>
    </div>
  </footer>
</html>
